version: '3'
services:
  directus:
    image: directus/directus:10.8.2
    ports:
      - 8055:8055
    volumes:
      - ./database:/directus/database
      - ./uploads:/directus/uploads
    environment:
      KEY: 'a340958320498523409852903482aslkdfjslkdjflskdja'
      SECRET: '2340958340fjkslkdjfsd2853948535jslkdfjsdlkjf'
      ADMIN_EMAIL: 'major@mnemonics.com'
      ADMIN_PASSWORD: 'peglistcreator'
      WEBSOCKETS_ENABLED: true
      CORS_ENABLED: true
      CORS_ORIGIN: "*"
